Thumbs.db
.DS_Store
.gradle
/build/
/target/
/out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
dependency-reduced-pom.xml
src/main/resources/*.dev.*
src/build/*.dev.*
src/test/build/*.test.*
application-dev.yml
.env